<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark nav-bg-dark border-bottom box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MSMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Server" asp-action="All">SERVERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Todo" asp-action="Mine">TODO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="PortalTool" asp-action="Tool">PORTAL TOOL</a>
                </li>
                @if (User.IsInRole(nameof(Role.Owner)))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Manager" asp-controller="Panel" asp-action="Controls">OWNERS PANEL</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
