@{
    ViewBag.Title = "Welcome";
}

<div class="d-flex flex-column align-items-center justify-content-center bg-image" style="height: 85vh">
    <div class="mb-4">
        <h1 class="display-4">WELCOME TO</h1>
        <h1 class="display-3 text-blocky">MINECRAFT SERVER MANAGEMENT STUDIO</h1>
    </div>
    <a asp-controller="Server" asp-action="All" class="btn btn-lg btn-primary">SERVERS</a>
</div>
