@{
    ViewData["Title"] = "Server Error";
}

<div class="d-flex flex-column align-items-center justify-content-center bg-image" style="height: 85vh">
    <div class="mb-4">
        <h1 class="display-4">ERROR 500</h1>
        <h1 class="display-3 text-blocky">Internal Server Error</h1>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary">HOME</a>
</div>